{% extends "layouts/base.html" %}

{% block title %} UI Alert {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="bs-stepper">
      <div class="bs-stepper-header" role="tablist">
        <!-- your steps here -->
        <div class="step" data-target="#logins-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
            <span class="bs-stepper-circle">1</span>
            <span class="bs-stepper-label">Connect</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#information-part">
          <button type="button" class="step-trigger" role="tab" aria-controls="information-part"
            id="information-part-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Extract</span>
          </button>
        </div>
      </div>
      <div class="bs-stepper-content">
        <!-- your steps content here -->
        <div id="logins-part" class="content active" role="tabpanel" aria-labelledby="logins-part-trigger">
          <div class="card">
            <h5 class="card-header">Credentials</h5>
            <div class="card-body">
              <form action="/snow" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Host</label>
                  <input type="text" class="form-control" id="mongo_host" placeholder="Enter Host" autocomplete="off">
                  <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone
                    else.</small> -->
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" id="mongo_email" aria-describedby="emailHelp"
                    placeholder="Enter Username" autocomplete="off">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone
                    else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="mongo_password" placeholder="Password">
                </div>
                <button type="button" onclick="postMongoReq()" class="btn  btn-primary">Connect</button>
              </form>
            </div>
          </div>
        </div>
        <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
          <div class="card">
            <!-- <div class="card-header">
              <h5>Hover Table</h5>
              <span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span>
            </div> -->
            <div class="card-body table-border-style">
              <div class="table-responsive" id="mongo_table">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}