{% extends "layouts/base.html" %}

{% block title %} UI Alert {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <div class="container">
      <form method="POST" action="/ner_process">
        <div class="form-group">
          <label>Your Text</label>
          <textarea type="text" rows="5" cols="5" class="form-control" name="rawtext" required="true">   </textarea>
          <br />
          <select class="form-control" name="taskoption">
            <option selected>Select Task</option>
            <option value="organization">Organization</option>
            <option value="person">Person</option>
            <option value="geopolitical">Geopolitical</option>
            <option value="money">Money</option>
          </select>
          <br />
          <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
          <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>

        </div>
      </form>
    </div>

    <div class="container">
      <div class="alert alert-success" role="alert">
        <p class="alert-heading">Result</p>
        <p>Number of Records:{{num_of_results}}</p>
        <ul>{% for i in results %}
          <li>{{i}}</li>
          {%endfor %}
        </ul>
      </div>
    </div>

  </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}