{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %} 

	<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">

							<img src="/static/assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
							<h4 class="mb-3 f-w-400">
								<a href="https://appseed.us/admin-dashboards/flask-dashboard-gradientable">Dashboard</a> - Signin
							</h4>
							<span class="mb-0 text-muted">
								{% if msg %}
									{{ msg | safe }}
								{% else %}
									Default Credentials: test / pass
								{% endif %} 
							</span>
							<!-- dummy spacer -->
							<p> <br /> </p>						
							<form role="form" method="post" action="">

								{{ form.hidden_tag() }} 
								
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-user"></i></span>
									</div>
									{{ form.username(placeholder="Username", class="form-control") }}
								</div>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="feather icon-lock"></i></span>
									</div>
									{{ form.password(placeholder="Password", class="form-control", type="password") }}
								</div>
								<div class="form-group text-left mt-2">
									<div class="checkbox checkbox-primary d-inline">
										<input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
										<label for="checkbox-fill-a1" class="cr"> Save credentials</label>
									</div>
								</div>
								<button type="submit" name="login" class="btn btn-block btn-primary mb-4">Signin</button>
							
							</form>

							<p class="mb-0 text-muted">Don’t have an account? <a href={{ url_for('base_blueprint.register') }} class="f-w-400">Signup</a></p>
							<p class="mb-2 text-muted">
								<br />
								&copy; <a target="_blank" rel="noopener" href="https://161dev.com" class="f-w-400">Digital Data Transform</a>
								- developed by <a target="_blank" rel="noopener" href="https://161dev.com" class="f-w-400">161dev.com</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/waves.min.js"></script>

{% endblock javascripts %} 
