{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

{% block content %} 

	<!-- [ auth-signup ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">
							<img src="/static/assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
							<h4 class="mb-3 f-w-400">Sign up</h4>
							<span class="mb-0 text-muted">
								{% if msg %}
									{{ msg | safe }}
								{% else %}
									Add your credentials
								{% endif %} 
							</span>
							<!-- dummy spacer -->
							<p> <br /> </p>		
							
							<!-- Hide the form on success -->
							{% if not success %}
								<form role="form" method="post" action="">

									{{ form.hidden_tag() }}  
															
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-user"></i></span>
										</div>
										{{ form.username(placeholder="Username", class="form-control") }}
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-mail"></i></span>
										</div>
										{{ form.email(placeholder="Email", class="input form-control", type="email") }}
									</div>
									<div class="input-group mb-4">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="feather icon-lock"></i></span>
										</div>
										{{ form.password(placeholder="Password", class="form-control", type="password") }}
									</div>
									<div class="form-group text-left mt-2">
										<div class="checkbox checkbox-primary d-inline">
											<input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
											<label for="checkbox-fill-2" class="cr">I agree with <a href="#">terms</a>.</label>
										</div>
									</div>
									<button type="submit" name="register" class="btn btn-primary btn-block mb-4">Sign up</button>
								
								</form>

								<p class="mb-0 text-muted">Have an account? <a href={{ url_for('base_blueprint.login') }} class="f-w-400">Login</a></p>
							{% endif %}

							<p class="mb-2 text-muted">
								<br />
								&copy; <a target="_blank" rel="noopener" href="https://161dev.com" class="f-w-400">Digital Data Transform</a>
								- developed by <a target="_blank" rel="noopener" href="https://161dev.com" class="f-w-400">161dev.com</a>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signup ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="/static/assets/js/waves.min.js"></script>

{% endblock javascripts %} 
