<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/js/plugins/bootstrap.min.js"></script>
<script src="/static/assets/js/pcoded.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script>
    snowResponse = [];
    mongoResponse = [];
    document.addEventListener('DOMContentLoaded', function () {
        stepper = new Stepper(document.querySelector('.bs-stepper'))
        console.log(stepper);

    })
    async function postSnowReq() {

        let user = {
            username: document.getElementById('snow_email').value,
            password: document.getElementById('snow_password').value
        };
        let response = await fetch('/snow', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        });

        if (response.ok) {
            snowResponse = await response.json();
            console.log(snowResponse);
            stepper.next();
            setSnowResponseTable();
        }
    }
    function setSnowResponseTable() {
        let html = ` <table class="table table-hover">
                        <thead>
                            <tr>
                            <th>Number</th>
                            <th>Opened At</th>
                            <th>Description</th>
                            </tr>
                        </thead>
                  <tbody>`;
        snowResponse.result.forEach(element => {
            html = html + ` <tr>
                      <td>${element.number}</td>
                      <td>${element.opened_at}</td>
                      <td><span  data-toggle="tooltip" data-placement="top" title="" data-original-title="${element.description}">${element.short_description}</span></td>
                    </tr>`;
        });
        document.getElementById("snow_table").innerHTML = html;
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    }
    async function postMongoReq() {
        let user = {
            host: document.getElementById('mongo_host').value,
            username: document.getElementById('mongo_email').value,
            password: document.getElementById('mongo_password').value
        };
        let response = await fetch('/mongo', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(user)
        });

        if (response.ok) {
            let resp = await response.json();
            console.log(resp);
            stepper.next();
            resp = resp[0].portfolio.products
            setMongoResponseTable(resp);
        }
    }
    function setMongoResponseTable(resp) {
        let html = ` <table class="table table-hover">
                        <thead>
                            <tr>
                            <th>Id</th>
                            <th>Weight</th>
                            </tr>
                        </thead>
                  <tbody>`;
        resp.forEach(element => {
            html = html + ` <tr>
                      <td>${element.morningstarSecId}</td>
                      <td>${element.weight}</td>
                    </tr>`;
        });
        document.getElementById("mongo_table").innerHTML = html;
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    }

</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>