
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Profile Managment</label>
					</li>
					<li class="nav-item">
                        <a target="_blank" rel="noopener" 
                           href="https://161dev.com" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-layers"></i></span><span class="pcoded-mtext">Profile Settings</span></a>
					</li>
					<li class="nav-item">
					    <a href="" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Design Layouts</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="#" target="_blank">Vertical</a></li>
					        <li><a href="#" target="_blank">Horizontal</a></li>
					    </ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Access Control</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Basic</span></a>
						<ul class="pcoded-submenu">
							<!-- <li><a href="/bc_alert.html">Alert</a></li>
							<li><a href="/bc_button.html">Button</a></li>
							<li><a href="/bc_badges.html">Badges</a></li>
							<li><a href="/bc_breadcrumb-pagination.html">Breadcrumb & paggination</a></li>
							<li><a href="/bc_card.html">Cards</a></li>
							<li><a href="/bc_collapse.html">Collapse</a></li>
							<li><a href="/bc_carousel.html">Carousel</a></li>
							<li><a href="/bc_grid.html">Grid system</a></li>
							<li><a href="/bc_progress.html">Progress</a></li>
							<li><a href="/bc_modal.html">Modal</a></li>
							<li><a href="/bc_spinner.html">Spinner</a></li>
							<li><a href="/bc_tabs.html">Tabs & pills</a></li>
							<li><a href="/bc_typography.html">Typography</a></li>
							<li><a href="/bc_tooltip-popover.html">Tooltip & popovers</a></li>
							<li><a href="/bc_toasts.html">Toasts</a></li>
							<li><a href="/bc_extra.html">Other</a></li> -->
						</ul>
						<a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Advanced</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
					    <label>Integrations</label>
					</li>
					<li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Cloud</span></a>
					</li>
					<li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">In Premises </span></a>
					</li>
					<li class="nav-item">
					    <a href="/bc_snow.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Service Now </span></a>
					</li>
					<li class="nav-item">
					    <a href="/bc_mongo.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Mongo DB </span></a>
					</li>
					<li class="nav-item">
					    <a href="/bc_ner.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">AI/ML </span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>History</label>
					</li>
					<li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Chart</span></a>
					</li>
					<li class="nav-item">
					    <a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span><span class="pcoded-mtext">Maps</span></a>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Support</label>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">Authentication</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/auth-signup.html" target="_blank">Sign up</a></li>
					        <li><a href="/auth-signin.html" target="_blank">Sign in</a></li>
					    </ul>
					</li>
					<li class="nav-item"><a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext">Sample page</span></a></li>

				</ul>
				
				<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="feather icon-sunset f-40"></i>
                        <br />
						<p>Need more? Drop Message</p>
                        <a href="https://161dev.com" target="_blank" 
                           class="btn btn-primary btn-sm text-white m-0">Premium Memberships</a>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
